.App {
  text-align: center;
}

.title-display {
  font-size: 8vw;
}

.timer-list {
  background-color: white;
  text-align: center !important;
}

.timer-list-selected {
  background-color: lime !important;
  text-align: center !important;
}

.time-display {
  font-size: 20vmin;
  display: inline-block;
  min-width: 100vmin;
  width: 100vmin;
}

.finished {
  background-color: red;
}

.control-buttons {
  display: inline-block;
  white-space: nowrap;
  width: 200px;
}

.button {
  display: inline-block;
  /*width: 90px;*/
}

.adsense {
  margin-top: 15px;
  margin-bottom: 15px;
}
